{% extends 'side_bar_member.html' %}
{% load static %}

{% block content %}

<div class="bg-white-200 col-span-4 items-center border-b border-b-gray-200 flex flex-row p-10 justify-between w-auto h-[80px]">
    <div><h1 class="text-[40px] font-bold">Profile Setting</h1></div>
</div>
<!----------------------------- 
update_per_info 
------------------------------>
<div class="col-start-3 col-span-2 row-span-3 row-start-2 mt-10 mb-40 w-180">
    <div class="pb-2 border-b border-b-gray-300 mb-5">
        <h2 class="font-bold text-[20px]">Change Password</h2>
        <h3 class="text-[10px]">Ensure your account security by using a strong password</h3>
    </div>
    {% if form.errors %}
        <div class="text-red-500 text-sm mb-4">
            {{ form.errors }}
        </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }}   -->
        <label for="current_password">Current password:</label> <br>
        {{form.old_password}}
        <div class="text-red-500 text-sm">
            {{ form.old_password.errors }}
        </div>
        <br><br>
        <label for="new_password">New password:</label> <br>
        {{form.new_password1}} 
        <div class="text-red-500 text-sm">
            {{ form.new_password1.errors }}
        </div>
        <br><br>
        <label for="confirm_new_password">Confirm new password:</label> <br>
        {{form.new_password2}}
        <div class="text-red-500 text-sm">
            {{ form.new_password2.errors }}
        </div>
        <br><br>
        <input type="submit" value="Change my password" class="border border-gray-200 p-2 rounded-md bg-black text-white transition delay-150 duration-300 ease-in-out hover:bg-black-900">
        <a href="{% url 'update_per_info' user.id %}" class="border border-gray-200 p-[10px] rounded-md bg-black text-white transition delay-150 duration-300 ease-in-out hover:bg-black-900">Cancel</a>
    </form>
</div>

{% endblock %}
   
