{% extends 'side_bar_member.html' %}
{% load static %}
{% block content %}
<div class="bg-white col-span-4 items-center border-b border-b-gray-200 flex flex-row p-10 justify-between w-full h-[80px]">
    <div><h1 class="text-[20px] font-bold">Messages</h1></div>
    <div class="flex flex-row">
        <div class="border border-gray-200 p-2  rounded-md bg-black text-white"><a href="{% url 'add_comment' project.project_id %}">Add comments</a></div>
        <div class="border border-gray-200 bg-black text-white p-2 rounded-md"><a href="{% url 'task' project.project_id %}">Cancel</a></div>
    </div>
</div>

<div class="border border-gray-300 w-full h-[calc(100vh-200px)] mr-5 mt-10 rounded-2xl p-5 overflow-y-scroll">

{% for comment in comments %}
<div class="border border-gray-200 p-5 m-5 rounded-2xl w-[calc(100%-40px)] bg-gray-100 flex justify-between">
    <div>
        <h3>{{ comment.user_name }} -- {{comment.created_at}}</h3>
        <p>{{ comment.content }}</p>
    </div>
    <div>
        <div class="border border-gray-200 bg-black text-white rounded-xl p-1"><a href="{% url 'update_comment' comment.comment_id %}">Update</a></div>
        <div class="border border-gray-200 bg-black text-white rounded-xl p-1"><a href="{% url 'delete_comment' comment.comment_id %}">Delete</a></div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}