{% extends 'side_bar_member.html' %}
{% load static %}
{% block content %}
<div class="bg-white col-span-4 items-center border-b border-b-gray-200 flex flex-row p-10 justify-between w-full h-[80px]">
    <div><h1 class="text-[40px] font-bold">Messages</h1></div>
    <div class="flex flex-row">
        <div class="border border-gray-200 bg-black text-white p-2 rounded-md transition delay-150 duration-300 ease-in-out hover:bg-black-700 hover:scale-105"><a href="{% url 'task' project.project_id %}">Cancel</a></div>
    </div>
</div>

<div class="border border-gray-300 w-full h-[calc(100vh-300px)] mr-5 mt-10 rounded-2xl p-5 overflow-y-scroll">

{% for comment in comments %}
<div class="p-5 m-5 rounded-2xl w-1/3 flex flex-col {% if comment.user_id == user %} ml-auto bg-green-100 {% else %} mr-auto bg-gray-100 {% endif %}">
    <div>
        <h3 class="font-bold">{{ comment.user_id.full_name }} -- {{comment.created_at}}</h3>
        <p class="break-words whitespace-pre-wrap">{{ comment.content }}</p>
    </div>
    <div class="flex flex-row justify-end">
        {% if comment.user_id == request.user or request.user.role == 'Manager' %}
        <div class="border border-gray-200 bg-black text-white rounded-xl p-1"><a href="{% url 'update_comment' comment.comment_id %}">Update</a></div>
        <div class="border border-gray-200 bg-black text-white rounded-xl p-1"><a href="{% url 'delete_comment' comment.comment_id %}">Delete</a></div>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>
<div class="border border-gray-300 w-full mr-5 mt-1 rounded-2xl p-4">
    <form action="" method="post" class="flex justify-between">
        {% csrf_token %}
        <div class="flex flex-row w-full">
            <div class="w-full">{{ form.content }}</div>
        </div>
        <div>
            <input type="submit" value="Send" class="border border-gray-200 rounded-md bg-black text-white transition delay-150 duration-300 ease-in-out hover:bg-black-700 hover:scale-105 p-1 ml-1">
        </div>
    </form>
</div>
{% endblock %}