{% extends 'side_bar.html' %}
{% load static %}
{% block content %}
<!----------------------- 
header 
------------------------->
<div class="bg-white col-span-4 items-center border-b border-b-gray-200 flex flex-row p-10 justify-between w-[1375px]">
    <div><h1 class="text-[20px] font-bold">Create new task</h1></div>
</div>
<!----------------------------- 
update_per_info 
------------------------------>
<div class="col-start-3 col-span-2 row-span-3 row-start-2 mt-10 mb-40 w-[432px] p-5 border-2 border-gray-200 rounded-md">
    <div>
        <div class="pb-2 border-b border-b-gray-300 mb-5">
            <h2 class="font-bold text-[20px]">New Task Information</h2>
        </div>
        
        <div>
            <form>
                <label for="project_name">Task Name</label><br>
                <input type="text" name="project_name" id="project_name" placeholder="Enter task name" class="border-2 border-gray-200 rounded-md w-[400px]">
            </form>
        </div>
        <div class="mt-5">
            <label for="description">Description</label> <br>
            <textarea name="description" id="description" placeholder="Describe task in detail..." class="border-2 border-gray-200  w-[400px] h-48 rounded-md" spellcheck></textarea>
        </div>
        
        <div class="mt-5">
            <form>
                <label for="deadline">Deadline</label><br>
                <input type="text" name="deadline" id="deadline" class="border-2 border-gray-200 w-[400px] rounded-md">
            </form>
        </div>
        
        <div class="mt-5">
            <label for="assign_to">Assign to</label> <br>
            <select name="assign_to" id="assign_to" class="border-2 border-gray-200 w-[400px] rounded-md">
                <option value="Alice Nguyễn">Alice Nguyễn</option>
                <option value="Bảo Trần">Bảo Trần</option>
                <option value="Cường Lê">Cường Lê</option>
            </select>
        </div>
    </div>
    <!-- ---------------------------- -->
    <div class="flex flex-row mt-10 justify-end gap-2 pr-5">
        <div><a href="{% url 'task' %}" class="border border-gray-200 rounded-md p-1"><span class="text-[10px]">Cancel</span></a></div>
        <div><a href="{% url 'task' %}" class="border border-gray-200 rounded-md p-1"><span class="text-[10px]">Save</span></a></div>
    </div>
</div>
{% endblock %}