{% extends 'side_bar_member.html' %}
{% load static %}
{% block content %}
<div class="bg-white col-span-4 items-center border-b border-b-gray-200 flex flex-row p-10 justify-between w-full h-[80px]">
    <div><h1 class="text-[40px] font-bold">Messages</h1></div>
    <div class="border border-gray-200 p-2  rounded-md bg-black text-white"><a href="{% url 'add_comment' project.project_id %}">Add comments</a></div>
</div>

<div class="border border-gray-300 w-full h-[calc(100vh-200px)] mr-5 mt-10 rounded-2xl p-5 overflow-y-scroll">

<form action="" method="post">
    {% csrf_token %}
    <h3 class="font-bold">Are you sure you want to delete?</h3>
    <a href="{{request.META.HTTP_REFERER}}" class="border border-gray-300 bg-black text-white p-1 rounded-xl">Go back</a>
    <input type="submit" value="Confirm" class="border border-gray-300 bg-black text-white p-[2px] rounded-xl">
</form>
</div>
{% endblock %}