{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="min-h-screen flex items-center justify-center">
  <div class="flex flex-col w-96 justify-self-center p-[10px] shadow-xl"> 
    <h1 class="text-[30px] font-bold">Sign In</h1>
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h3 style="color: red;">{{ message }}</h3>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
    <form method="post">
      {% csrf_token %}
      <div class="relative">
        <div class="absolute inset-y-0 left-0 pointer-events-none flex items-center ml-1"><img src="{% static 'icons/user.png' %}" alt="user" class="w-4"></div>
        <div><input type="text" name="username" placeholder="Username" class="w-[269px] pl-6 border-2 border-gray-200 rounded-md"/></div>
      </div>
      <br>
      <!-- -------------------------------------------- -->
      <div class="relative">
        <div class="absolute inset-y-0 left-0 pointer-events-none flex items-center ml-1"><img  src="{% static 'icons/password.png' %}" alt="" class="w-4"></div>
        <div><input type="password" name="password" placeholder="Password" class="w-[269px] pl-6 border-2 border-gray-200 rounded-md"/></div>
      </div> 
      <!-- <button type="submit" class="border-2 border-solid bg-black rounded-md hover:bg-black-700 text-center"><span style="color: white;">Sign In</span></button> -->
      <a href="{% url 'password_reset' %}" class="text-right text-sm underline text-blue-400">Forgot password ?</a>
      <br>
      <!-- <a href="{% url 'dashboard' %}" class="border-2 border-solid bg-black rounded-md hover:bg-black-700 text-center"><span style="color: white;">Sign In</span></a> -->
      <button type="submit" class="border-2 border-solid bg-black rounded-md hover:bg-black-700 text-center w-[269px] mt-[10px]"><span style="color: white;">Sign In</span></button>
    </form>
  </div>
</div>
{% endblock %}

