{% extends 'side_bar_member.html' %}
{% load static %}

{% block content %}

<div class="bg-white-200 items-center border-b border-b-gray-200 flex px-6 h-[80px] flex justify-between">
    <div><h1 class="text-[40px] font-bold">Member of Team</h1></div>
    {% if request.user.role == 'Manager' %}
    <div><a href="{% url 'add_member' %}" class="border border-gray-200 bg bg-black text-white p-2 rounded-md transition delay-150 duration-300 ease-in-out hover:bg-black-700 hover:scale-105">Add member</a></div>
    {% endif %}
</div>


<div class="col-start-2 row-start-2 overflow-y-auto p-6 h-[calc(100vh-200px)]">
    {% for user in users %}

        <div class="flex justify-between border border-gray-200 w-auto m-[20px] rounded-xl p-10 bg bg-gray-200 shadow-md transition delay-150 duration-300 ease-in-out hover:bg-gray-300 hover:scale-100">
            <div>
                <h3>{{ user.full_name }}</h3>
                <small>{{ user.role }}</small>
                <h3>Contact: {{ user.email }}</h3>
            </div>
            <div>
                {% if request.user.role == 'Manager' or request.user.id == user.id %}
                <a href="{% url 'update_per_info' user.id %} "  class="border border-gray-200 rounded-md bg bg-black text-white p-[7px]">Update</a>
                {% endif %}
                {% if request.user.role == 'Manager' %}
                    <button onclick="openModal('{{ user.id }}')" class="border border-gray-200 rounded-md bg bg-black text-white p-1">Delete</button>
                {% endif %}
            </div> 
        </div>
    {% endfor %}
    <div id="deleteModal" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center"> 
        <div class="bg-white p-6 rounded-xl shadow-lg w-[320px] text-center">
            <h2 class="text-lg font-bold mb-4">Confirm Delete</h2>
            <p class="mb-4">Are you sure you want to delete this member?</p>
            <form id="deleteForm" action="" method="POST">
                {% csrf_token %}
                <div class="flex justify-between">
                    <button type="submit" class="bg-black text-white px-4 py-2 rounded-md mr-2">Delete</button>
                    <button type="button" onclick="closeModal()" class="px-4 py-2 bg-gray-300 rounded-md">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    function openModal(userId){
        const modal = document.getElementById('deleteModal'); 
        const form = document.getElementById('deleteForm'); 
        form.action = `/delete_member/${userId}`; 

        modal.classList.remove('hidden'); 
        modal.classList.add('flex'); 
    }
    function closeModal(){
        const modal = document.getElementById('deleteModal'); 

        modal.classList.add('hidden');
        modal.classList.remove('flex');
    }
</script>
{% endblock %}
