<h3>Enter new password</h3>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form action="" method="post">
    {% csrf_token %}
    <label for="id_new_password1">New password:</label>
    {{ form.new_password1.errors }}
    {{ form.new_password1 }}
    <br><br>
    <label for="id_new_password2">Confirm password:</label>
    {{ form.new_password2.errors }}
    {{ form.new_password2 }} 
    <br><br>
    <input type="submit" value="Change my password">
    <!-- {{ form. }} -->
</form>