{% extends 'side_bar_member.html' %}
{% load static %}
{% block content %}
<!----------------------- 
  header 
  ------------------------->
<div
  class="bg-white-200 items-center border-b border-b-gray-200 flex px-6 h-[80px] flex justify-between"
>
  <div><h1 class="text-[40px] font-bold">Project</h1></div>
  {% if request.user.role == 'Manager' %}
  <div class="border p-3 bg-black rounded-md">
    <div>
      <a href="{% url 'create_project'%}"><span class="text-white">+ Create new project</span></a>
    </div>
  </div>
  {% endif %}
</div>

<div class="bg-white-200 items-center border-b border-b-gray-200 flex px-6 h-[80px]">
  <div class="relative">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-auto">
      <img src="{% static 'icons/search.png' %}" alt="search icon" class="h-5 w-5" />
    </div>
    <form method='GET' action="{% url 'project' %}">
    <input
      name="q", 
      type="text"
      class="pl-10 pr-3 py-2 border border-gray-200 rounded-xl w-[400px]"
      placeholder="Search"
    />
    </form>
  </div>
  <div class="border border-gray-300 rounded-md ml-3 flex justify-between content-center p-1 bg-black text-white">
    <div><a href="{% url 'project' %}">All </a></div>
  </div>
  {% for status in statuses %}
  <div class="border border-gray-300 rounded-md ml-3 flex justify-between content-center p-1 bg-black text-white">
    <div><a href="{% url 'project' %}?q={{status}}">{{status}}</a></div>
  </div>
  {% endfor %}
  <div class="ml-3 border rounded-full p-1 bg-green-100"><h3><span class="font-bold">{{project_count}}</span> projects</h3></div>
</div>
<!------------------------ 
  overview 
  ------------------------->
<div class="overflow-y-scroll space-y-6 h-[calc(100vh-200px)] p-6">
  {% for project in projects %}
  <div class="border border-gray-300 rounded-xl p-5 bg bg-gray-200 shadow-md transition delay-150 duration-300 ease-in-out hover:bg-gray-300 hover:scale-100">
      <div class="flex justify-between">
        <div><a href="{% url 'task' project.project_id %}"><span class="font-bold text-xl">{{ project.project_name }}</span></a></div>
        <div>
            {% if user.role == 'Manager' %}
            <a href="{% url 'update_project' project.project_id %}" class="border border-gray-300 rounded-md bg bg-black p-2 text-white">Update</a>
            <a href="{% url 'delete_project' project.project_id %}" class="border border-gray-300 rounded-md bg bg-black p-2 text-white">Delete</a>
            {% endif %}
        </div>
      </div>
      <br>
      <p>{{ project.description }}</p>
      <small>{{project.status_project}}</small>
      <p>{{ project.start_date }} -- {{ project.end_date }}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}    
