{% extends 'side_bar_member.html' %}
{% load static %}
{% block content %}
<!----------------------- 
  header 
  ------------------------->
<div
  class="bg-white items-center flex p-10 justify-between border-b border-gray-200 h-[80px]"
>
  <div><h1 class="text-[40px] font-bold">{{ task.task_name }}</h1></div>
  <div class="flex flex-row gap-1">
      <div><a href="{% url 'task' project.project_id %}" class="border border-gray-200 bg-black rounded-md p-2 text-white transition duration delay-300 hover:bg-black hover:scale-105">Cancel</a></div>
  </div>
</div>
<!-------------------------
    main content 
    ------------------------->
<div class="rounded-2xl w-full h-[calc(100vh-200px)] flex flex-row">
    <div class="border border-gray-200 p-10 m-5 rounded-2xl w-1/3 h-[calc(100vh-250px)] shadow-md">
        <div class="border-b border-b-gray-200">
            <h3 class="font-bold text-[20px]">Task Information</h3>
        </div>
        <br>
        <div class="flex flex-col gap-5">
            <div>
                <div><h3 class="font-bold">Project Name</h3></div>
                <div><p>{{ project.project_name }}</p></div>
            </div>
            <div>
                <div><h3 class="font-bold">Task Name</h3></div>
                <div><p>{{ task.task_name }}</p></div>
            </div>
            <div>
                <div><h3 class="font-bold">Description</h3></div>
                <div><p>{{ task.description }}</p></div>
            </div>
            <div>
                <div><h3 class="font-bold">Status</h3></div>
                <div>
                    {% if task.status == 'Completed' %}
                    <span class="border border-gray-100 bg bg-green-100 p-1 rounded-2xl">{{ task.status }}</span>
                    {% elif task.status == 'In Progress' %}
                    <span class="border border-gray-100 bg bg-yellow-100 p-1 rounded-2xl">{{ task.status }}</span>
                    {% else %}
                    <span class="border border-gray-100 bg bg-red-100 p-1 rounded-2xl">{{ task.status }}</span>
                    {% endif %}
                </div>
            </div>
            <div>
                <div><h3 class="font-bold">Deadline</h3></div>
                <div><p>{{ task.deadline }}</p></div>
            </div>
            <div>
                <div><h3 class="font-bold">Assign to</h3></div>
                <div class="border rounded-xl shadow-md p-1 w-1/2 bg-gray-100"><p>{{ task.assign_to.full_name }} <br> {{ task.assign_to }}</p></div>
            </div>
        </div>
    </div>
    <div class="m-5 rounded-2xl w-2/3 h-[calc(100vh-250px)] ">
        <div id="chat_box" class="border border-gray-300 w-full h-[calc(100vh-320px)] rounded-2xl p-5 overflow-y-auto">
            {% for comment in comments %}
            <div class="p-5 m-5 rounded-2xl w-1/2 flex flex-col {% if comment.user_id == user %} ml-auto bg-green-100 {% else %} mr-auto bg-gray-100 {% endif %}">
                <div>
                    <h3 class="font-bold">{{ comment.user_id.full_name }} -- {{comment.created_at}}</h3>
                    {% if comment.is_deleted %}
                        <p class="italic text-gray-500">This comment has been deleted.</p>
                    {% else %}
                        <p class="break-words whitespace-pre-wrap">{{ comment.content }}</p>
                    {% endif %}
                </div>
                <div class="flex flex-row justify-end">
                    {% if not comment.is_deleted %}
                        {% if comment.user_id == request.user or request.user.role == 'Manager' %}
                        <button onclick="openModalUpdate('{{comment.comment_id}}')" class="border border-gray-200 bg-black text-white rounded-xl p-1">Update</button>
                        <button onclick="openModalDelete('{{comment.comment_id}}')" class="border border-gray-200 bg-black text-white rounded-xl p-1">Delete</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="updateModal" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center">
            <form onsubmit="saveScrollPosition('other')" action="" id="updateForm" class="bg-white w-[320px] rounded-md shadow-lg p-6" method="POST">
                {% csrf_token %}
                {{ form.content }}
                <div class="flex justify-end mt-5">
                    <button type="submit" class="border border-gray-200 bg-black text-white rounded-xl p-1">Edit</button>
                    <button type="button" onclick="closeModalUpdate()" class="border border-gray-200 bg-black text-white rounded-xl p-1">Cancel</button>
                </div>
            </form>

        </div>
        <div id="deleteModal" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center">
            <div class="bg-white p-6 rounded-xl shadow-lg w-[320px] text-center">
                <div>
                    <h2 class="text-lg font-bold mb-4">Confirm Delete</h2>
                    <p class="mb-4">Are you sure you want to delete this comment?</p>
                </div>
                <form action="" id="deleteForm" method="POST" onsubmit="saveScrollPosition('other')" >
                    {% csrf_token %}
                    <div class="flex justify-between">
                        <button type="submit" class="bg-black text-white px-4 py-2 rounded-md mr-2">Delete</button>
                        <button type="button" class="px-4 py-2 bg-gray-300 rounded-md" onclick="closeModalDelete()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="border border-gray-300 w-full mr-5 rounded-2xl p-4">
            <form  onsubmit="saveScrollPosition('add')"  action="" method="post" class="flex justify-between">
                {% csrf_token %}
                <div class="flex flex-row w-full">
                    <div class="w-full">{{ form.content }}</div>
                </div>
                <div>
                    <input type="submit" value="Send" class="border border-gray-200 rounded-md bg-black text-white transition delay-150 duration-300 ease-in-out hover:bg-black-700 hover:scale-105 ml-1 mr-1 p-1">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function openModalUpdate(commentId){
        const modal = document.getElementById('updateModal');
        const form = document.getElementById('updateForm'); 

        form.action = `/update_comment_task/${commentId}`; 

        modal.classList.remove('hidden'); 
        modal.classList.add('flex'); 
    }
    function closeModalUpdate(){
        modal = document.getElementById('updateModal');

        modal.classList.add('hidden');
        modal.classList.remove('flex');
    } 
    function openModalDelete(commentId){
        const modal = document.getElementById('deleteModal'); 
        const form = document.getElementById('deleteForm'); 

        form.action = `/delete_comment_task/${commentId}`;
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }
    function closeModalDelete(){
        const modal = document.getElementById('deleteModal'); 

        modal.classList.add('hidden');
        modal.classList.remove('flex');
    }
    function saveScrollPosition(type){
        const chat_box = document.getElementById('chat_box');
        if (type === 'add'){
            localStorage.removeItem('scrollPosition');
        } 
        else {
            localStorage.setItem('scrollPosition', chat_box.scrollTop); 
        }
    }
    window.onload = function(){
        const chat_box = document.getElementById('chat_box'); 
        const savedPosition = localStorage.getItem('scrollPosition'); 
        if (savedPosition !== null){
            chat_box.scrollTop = savedPosition;
            localStorage.removeItem('scrollPosition');
        }
        else {
            chat_box.scrollTop = chat_box.scrollHeight; 
        }
    }
</script>
{% endblock %}