{% extends 'side_bar_member.html' %}
{% load static %}
{% block content %}
<!----------------------- 
header 
------------------------->
<div class="bg-white items-center border-b border-b-gray-200 flex flex-row p-10 justify-between">
    <div><h1 class="text-[20px] font-bold">Update project</h1></div>
</div>

<br><br>
<!----------------------------- 
update_per_info 
------------------------------>
<form action="" method="post"> 
    {% csrf_token %}
    <div class="pb-2 border-b border-b-gray-300 mb-5">
        <h2 class="font-bold text-[20px]">New Project Information</h2>
    </div>
    <label for="project_name">Project name:</label> <br>
    {{form.project_name}} 
    <br> <br>
    <label for="description">Description</label> <br>
    {{form.description}}
    <div class="mt-5 flex flex-row space-x-[40px]">
        <div>
            <label for="start_date">Start Date</label> <br>
            {{form.start_date}}
        </div>
        <div>
            <label for="end_date">End Date</label><br>
            {{form.end_date}}
        </div>
    </div>
    <br>
    <div>
        <label for="created_by">Created by:</label>
        {{form.created_by}}
    </div>
    <br>
    <div>
        <label for="status">Status:</label>
        {{form.status_project}}
    </div>
    
    <br> 
    <!-- {{form.as_p}}  -->
    <div class="flex flex-row">
        <div><input type="submit" value="Save" class="border border-gray-200 rounded-md bg-black text-white w-[40px]"></div>
        <div class="border border-gray-200 rounded-md bg-black text-white w-[40px] h-[20px] text-center"><a href="{% url 'project' %}"><span class="text-[10px]">Cancel</span></a></div>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <h3 style="color: red;">{{message}}</h3>
            {% endfor %}
        </ul>
    {% endif %}
</form>
{% endblock %}
    
