@import "tailwindcss"; 

/* .side_bar{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 150px;
    height: auto;
}
img {
    width: 20px;
}
h1 {
    font-size: 20px;
    color: black;
}
.dashboard_sb{
    background-color: black;
}
#db{
    color: white; */
/* } */

