@import "tailwindcss";
/* .container {
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  width: 300px;
  justify-content: center;
  min-height: 50vh;
  border-radius: 4%;
  position: relative;
  left: 40vw;
  top:25vh;
  right: 40vw;
  padding-left: 5px;
  padding-right: 5px;
}
button {
    background-color: black;
    border-radius: 5px;
}
.img{
    width: 7px;
}
.input-group {
    border-width: 1px;
    border-style: solid;
    border-radius: 5%;
    padding: 5px;
}
.border{
    border-style: none;
    width: 95%;
}
a {
    font-size: 8px;
    text-align: right;
} */